@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;500;600&display=swap');



.card {
    padding: 20px 40px;
    border: 1px solid cyan;
    border-radius: 6px;
    cursor: pointer;
}

.overlayAdicionar,
.overlayEditar {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.7);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.popupAdicionar,.popupEditar {
    border: 2px solid cyan;
    padding: 40px;
    border-radius: 8px;
    width: 420px;
    background: black;
    box-shadow: 0px 0px 30px rgba(0, 192, 232, 0.25);
}

.popupAdicionar form,
.popupEditar form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.popupAdicionar label,
.popupEditar label {
    font-size: 16px;
}

.popupAdicionar input,
.popupAdicionar textarea,
.popupEditar textarea {
    background: transparent;
    border: 3px solid #232323;
    color: white;
    padding: 10px;
    font-family: 'Archivo', sans-serif;
}

.popupAdicionar  textarea,
.popupEditar textarea {
    resize: none;
    height: 140px;
}

.popupAdicionar input::placeholder,
.popupAdicionar textarea::placeholder,
.popupEditar textarea::placeholder {
    color: #4D4D43;
}

.btn-addUp,
.btn-edit {
    position: relative !important; 
    top: auto !important;
    right: auto !important;
    
    margin-top: 20px;
    align-self: center;
    padding: 10px 25px;
    background: cyan;
    border: none;
    color: black;
    cursor: pointer;
    font-weight: 500;
    font-size: 22px;
}