dialog {
    position: fixed;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);

    background: var(--bgColor01);
    border: 2px solid var(--bgColor02);
    width: 70vw;
    padding: 30px 20px;
}

dialog form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

dialog label {
    display: block;
    margin-bottom: 5px;
}

dialog input, textarea {
    background: #0A0A0A;
    width: 100%;
    padding: 15px 10px;
}

dialog input[type="submit"] {
    background: var(--mainColor);
    border: 0;
}

dialog::backdrop {
    background: #000000bb;
}